html, body {
  background: #76b7da;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}


canvas{
  display: block;
  margin: 0 auto;
  
}

button{
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

#start{
  background-color: green;
  color: white;
}

#restart{
  background-color: red;
  color: white;
}

